MQTT2.json
[{"id":"d420907e.45ad6","type":"mqtt in","z":"4ceca091.9731d","name":"","topic":"mcs/Dc0GDnnt/uJiKWeWkDl40b2rE/+","qos":"2","datatype":"auto","broker":"105db92b.220fb7","x":210,"y":220,"wires":[["c13f4394.5cec2"]]},{"id":"c13f4394.5cec2","type":"csv","z":"4ceca091.9731d","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":",,Data","skip":"0","strings":true,"x":170,"y":340,"wires":[["96f31708.42a988"]]},{"id":"96f31708.42a988","type":"change","z":"4ceca091.9731d","name":"Get Data","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Data","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":480,"wires":[["76d59242.bd048c"]]},{"id":"76d59242.bd048c","type":"ui_gauge","z":"4ceca091.9731d","name":"","group":"343cc0d1.e7b1a","order":0,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":410,"y":480,"wires":[]},{"id":"105db92b.220fb7","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"343cc0d1.e7b1a","type":"ui_group","z":"","name":"Status","tab":"df10c3f7.043fa","order":1,"disp":true,"width":"6","collapse":false},{"id":"df10c3f7.043fa","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]