MQTT1.json
[{"id":"1b946750.ddc749","type":"mqtt out","z":"ba5a86d8.d219d8","name":"","topic":"mcs/Dc0GDnnt/uJiKWeWkDl40b2rE/Temperature","qos":"2","retain":"","broker":"1c4d1f9c.9aa4d","x":430,"y":280,"wires":[]},{"id":"81280476.258ec8","type":"inject","z":"ba5a86d8.d219d8","name":"","topic":"","payload":",,25.5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["1b946750.ddc749"]]},{"id":"261b097a.283366","type":"inject","z":"ba5a86d8.d219d8","name":"","topic":"","payload":",,20.3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":320,"wires":[["1b946750.ddc749"]]},{"id":"1c4d1f9c.9aa4d","type":"mqtt-broker","z":"","name":"MCS Cloud","broker":"mqtt.mcs.mediatek.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]